@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--m3-font-family-sans), sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;

    /* Disable scrollbars for a cleaner look */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }

  /* Disable user scaling (zoom) */
  html {
    touch-action: manipulation;
  }
}
